@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.form {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
  background-color: white;
  margin-top: 4%;
  padding: 20px 20px;
  height: 70%;
  border-radius: 15px;
}

.head {
  font-weight: bolder;
  margin-bottom: 70px;
}
.label {
  font-weight: bold;
  padding-left: 0;
  margin-bottom: 5px;
  margin-right: 70%;
}
.pos {
  margin-right: 65%;
}
.inputs {
  margin-left: 7%;
  width: 65% !important;
  height: 55px !important;
  padding: 20px !important;
  margin-bottom: 30px !important;
  border-radius: 15px !important;
}

.login {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  background-color: rgb(30, 215, 96, 0.9);
  background-image: url("./../../Images/note3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  /* z-index: 5; */

  font-family: "Poppins", sans-serif;
}

.btns {
  background-color: rgb(30, 215, 96) !important;
  padding: 8px 20px;
  border-radius: 10px;
  border: 2px solid black !important;
  color: white;
  font-weight: bolder;
}
.text {
  font-weight: lighter;
  margin-right: 40%;
  padding: 5px;
}
.link {
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

.btns:hover {
  background-color: rgb(30, 215, 96, 0.6) !important;
}
