.custom {
  margin-top: 1%;
  margin-left: 3%;
  height: 95vh;
  width: 95%;
  background-color: rgb(255, 255, 255, 0.2);
  background-image: url("./../../Images/geometric.png");
  /* background-size: 100% 110%; */
  background-repeat: repeat;
  background-position: center;
  background-blend-mode: lighten;
}

.preview {
  margin-top: -20% !important;
  margin-left: 50%;
  height: 400px !important;
  width: 500px !important;
  border: 4px solid bisque;
}
