.Modal{
    height:100vh;
    width:100%;

}

.frame{
    z-index: 30;
    display: block;
    margin-left: 39%;
    position: absolute;
}

.animation{
    z-index: 10;
    position: absolute;
    background-color: black;
}

.Btn{
margin-top: 1%;
margin-left: 95%;
border: none;
background-color: transparent;
position: relative;
z-index: 15;
}

.Btn:hover{
    opacity: 0.6;
}

.add{
    z-index: 15;
    background-color: transparent;
    border:1px solid white;
    margin-left: -57%;
    margin-top: 38%;
    position: absolute;
    color: white;
    width: 10%;
    padding: 3px;
    font-size: smaller;
}

.customise{
    z-index: 15;
    background-color: transparent;
    border:1px solid white;
    position: absolute;
    color: white;
    width: 10%;
    font-size: smaller;
    padding: 3px;
    margin-left: -46%;
    margin-top: 38%;
}

.toggle{
    z-index: 15;
    position: absolute;
    margin-left: 96%;
    margin-top:-35px;
}

strong{
    padding: 6%;

} 