.Modal {
  height: 100vh;
  width: 100%;
}

.frame {
  z-index: 30;
  display: block;
  margin-left: 39%;
  position: absolute;
}

.animation {
  z-index: 10;
  position: absolute;
  background-color: black;
}

.Btn {
  margin-top: 1%;
  margin-left: 95%;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 15;
}

.Btn:hover {
  opacity: 0.6;
}

.modal-button {
  z-index: 15;
  position:relative;
  text-align: center;
  margin-top: 30%;
  margin-right:30%;
}

.modal-button button {
  margin: 1%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 10%;
  /* padding: 10px; */
}

.modal-button button:hover{
  
  background-color: rgb(30, 215, 96, 0.4);
  /* opacity: 0.8; */
}

strong {
  padding: 6%;
}

.btn {
  margin-bottom: 10%;
}
