@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.contact {
  height: 100vh;
  width: 100%;

  background-color: rgb(30, 215, 96, 0.9);
  background-image: url("./../../Images/contact.png");
  /* background-size: 100% 110%; */
  background-repeat: repeat;
  background-position: center;
  background-blend-mode: darken;
  overflow-x: hidden;
  overflow-y: hidden;

  font-family: "Montserrat", sans-serif;
}
.contact-Us {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
  background-color: white;
  margin-top: 1%;

  border-radius: 15px;
}
.header {
  font-weight: bold;
  color: black;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.Label {
  text-align: left;
  width: 80%;
  font-weight: bolder;
  float: left;
  padding-left: 30px;
}

.Input {
  width: 60% !important;
  margin-left: 30px;
  height: 50px !important;
  border-radius: 10px !important;
}
.Input-Area {
  width: 90% !important;
  margin-left: 30px;
}
